<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small"><ion-icon name="tv-outline"></ion-icon> </ion-button>
      <ion-button size="small"><ion-icon name="notifications-outline"></ion-icon></ion-button>
      <ion-button size="small"><ion-icon name="search-outline"></ion-icon></ion-button>
      <ion-button size="small"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="button-bar">
      <ion-button *ngFor="let seg of segments; let i = index" (click)="selectSegment(i)" shape="round"
        [ngClass]="{'active': seg.selected, 'inactive': !seg.selected}" size="small">
        {{seg.title}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [appHideHeader]="header" scrollEvents="true">
  <div *ngIf="videos.length">
    <div *ngFor="let i of [].constructor(4)" class="ion-margin-bottom">
      <ion-skeleton-text animation style="width: 100%; height: 30vh !important"></ion-skeleton-text>
      <ion-skeleton-text animation style="width: 75%; height: 20px !important; margin: 10px"></ion-skeleton-text>
      <ion-skeleton-text animation style="width: 45%; height: 20px !important; margin: 10px"></ion-skeleton-text>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent" pullingIcon="refresh-outline"></ion-refresher-content>
  </ion-refresher>

</ion-content>